.venv/
999_Misc_scripts/API Projects/keys.env
003_Scraping_scripts/   
# 002_File_Manipulation/
**.env
#if the file/ folder  is already commited use this 
#git rm -r --cached folder name
#git commit -m "Stop tracking foldername folder"