.venv/
999_Misc_scripts/API Projects/keys.env
003_Scraping_scripts/   
# 002_File_Manipulation/
**.env

001_Conversion_scripts/XML_Converter/Pies.xml
001_Conversion_scripts/XML_Converter/ACES.xml
001_Conversion_scripts/output.xlsx
#if the file/ folder  is already commited use this 
#git rm -r --cached folder name
#git commit -m "Stop tracking foldername folder"