ipykernel
pip
pyspark
delta-spark
pandas
numpy
openpyxl
selenium
XlsxWriter
tqdm
pyqrcode
rembg
pyscreenrec
rapidfuzz
googlemaps
python-dotenv
openai
google
# pdfplumber
tabula-py
# paddlepaddle==2.6.1
# paddleocr==2.7.0.3
plotly
streamlit
nbconvert